#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.homePageWrapper {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
  padding: 30px 0;
}

.mainSection {
  background-color: #3498db;
  color: white;
  padding: 50px 20px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.mainSection h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

@media(max-width: 650px){
  .mainSection h1 {
    font-size: 2rem;
  }
}

.mainSection p {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.buttonsWrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.styledButton {
  background-color: #e74c3c;
  color: white;
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.styledButton:hover {
  background-color: #c0392b;
}

.secondarySection {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;

}
@media (max-width: 900px) {
  .secondarySection {
    display: grid;
    grid-template-rows: 1fr;
  }
}